.d-flex .btn{
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: #fff;
}
.d-flex .btn:hover{
    background: rgb(228, 150, 7);
    border: 2px solid rgb(228, 150, 7);
}

#right1 :hover{
    color: orange;
    transition: 300ms;
}

.row .right2 {
    margin-left: -10px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.container .row .col .row .col a {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;

}

.container .row .col .row .col a :hover {
    background-color: rgb(201, 132, 5);
}
#column :hover{
    transform: scale(0.9);
    transition: 450ms;
    border-radius: 10px;
}
 .item-box1:hover{
box-shadow: 25px 18px 28px   rgb(104, 103, 103);
transition: box-shadow 0.3s ease; 
}

#items :hover {
    color: orange;
    transition: 200ms;
}



.footer-container {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, #FFC374, #B67352);
    color: black;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 20px;
    margin-top: auto; /* Push the footer to the bottom of the container */
}

.row11 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
    align-items: flex-start;
    justify-content: space-between;
}

.col11 {
    flex-basis: 25%;
    padding: 10px;
}

.col11:nth-child(2),
.col11:nth-child(3) {
    flex-basis: 15px;
}

.logo11 {
    width: 60px;
    margin-bottom: 30px;
}

.col11 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.mail11 {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer-container ul li {
    list-style: none;
    margin-bottom: 12px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-container form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer-container form .far {
    font-size: 18px;
    margin-right: 10px;
}

.footer-container form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: none;
    outline: none;
}

.footer-container form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer-container form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-media .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.footer-container hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright11 {
    text-align: center;
}

.under-line11 {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.under-line11 span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    .col11 {
        flex-basis: 100%;
    }

    .col11:nth-child(2),
    .col11:nth-child(3) {
        flex-basis: 100%;
    }
    .footer-container {
        border: unset;
        }
}

