{% extends 'forms.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<!-- <div class="col-sm-5 offset-sm-3" style="background-color: white; border-radius: 10px; margin-top: 20px;"> -->
    <section class="base" id="base-signup">
        <div class="base-content">
            <div class="form f-t">
    <form style="padding-top: 70px;" method="POST">
    
        {{ form.hidden_tag() }}
        <div class="password">Current Passowrd {{ form.current_password }} <hr></div>
        <div class="password">New Password {{ form.new_password }} <hr></div>
        <div class="password">Confirm Password {{ form.confirm_new_password }} <hr></div>
        <br>
        <div class="buttons">
        {{ form.change_password }}
        </div>
    </form>
</div>
</div>
</section>
{% endblock %}




